/* line 4, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_fonts.scss */
.text-left {
  text-align: left !important;
}

/* line 8, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_fonts.scss */
.text-right {
  text-align: right !important;
}

/* line 12, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_fonts.scss */
.text-center {
  text-align: center !important;
}

/* line 1, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_utilities.scss */
.w-100 {
  width: 100%;
}

/* line 5, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_utilities.scss */
.w-80 {
  width: 80%;
}

/* line 9, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_utilities.scss */
.w-60 {
  width: 60%;
}

/* line 13, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_utilities.scss */
.w-40 {
  width: 40%;
}

/* line 17, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_utilities.scss */
.center {
  display: block;
  margin: 0 auto;
}

/* line 22, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_utilities.scss */
.auto-height {
  height: auto !important;
}

/* line 1, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.pm {
  display: none;
}

/* line 5, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode {
  background-color: #fefdf4;
}

/* line 7, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode #changeMode {
  background: #CEECC6;
  color: #000;
}

/* line 13, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode .pm {
  display: block !important;
}

/* line 17, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode img.pm {
  margin-top: 2rem;
}

/* line 20, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode nav {
  display: none;
}

/* line 24, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode .grid {
  grid-template-columns: 1fr;
}

/* line 28, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode aside {
  height: 100vh;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

/* line 32, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode aside h1 {
  font-size: 13.5rem;
  grid-column: 1/7;
  margin-bottom: 20%;
}

/* line 37, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode aside section {
  font-size: 1.7rem;
}

/* line 43, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section {
  height: 100vh;
}

/* line 45, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section p, .present-mode article section ul, .present-mode article section ol, .present-mode article section a {
  font-size: 2rem;
}

/* line 49, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* line 52, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section h2.main {
  font-size: 10rem;
}

/* line 57, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section .em {
  color: #ec008c;
}

/* line 61, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section .table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  grid-gap: 2rem;
}

/* line 66, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section .table ul {
  font-size: .85em;
}

/* line 71, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section .image-grid {
  width: 70%;
  list-style: none;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  grid-gap: 2rem;
  margin-top: 5rem;
}

/* line 79, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section .image-grid img {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

/* line 85, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section .image-grid li {
  font-size: .7em;
  margin: 0 !important;
}

/* line 92, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/_presentmode.scss */
.present-mode article section iframe.showcase {
  margin-top: 5vh;
  width: 100%;
  height: 95vh;
}

/* line 8, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
html {
  scroll-behavior: smooth;
}

/* line 12, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
#changeMode {
  background: #808080;
  border: none;
  padding: .5rem 1rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

@media (max-width: 992px) {
  /* line 17, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  #changeMode {
    display: none;
  }
}

/* line 32, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.fas {
  font-size: 1em;
  margin-left: 0.5rem;
  color: #ec008c;
}

/* line 42, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.hide {
  display: none !important;
}

/* line 51, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.self-note {
  display: none;
  background-color: #CEECC6;
  padding: 1rem;
  list-style: none;
  margin: 1rem 0;
  font-style: italic;
}

@page {
  margin: 15mm;
}

/* line 63, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.note {
  width: 100%;
  float: left;
  font-style: italic;
  padding: 2rem 0 1rem;
  display: none;
}

@media print {
  /* line 63, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .note {
    display: block;
  }
  /* line 72, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .note br {
    display: block !important;
  }
}

/* line 78, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
  color: #e3e3e3;
}

/* line 85, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.scroll-top:hover {
  color: #808080;
}

@media print {
  /* line 78, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .scroll-top {
    display: none;
  }
}

/* line 93, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 1rem 0;
  font-size: 17px;
}

/* line 99, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
#date {
  float: left;
  color: #fff;
  background-color: #ec008c;
  padding: 10px;
  margin-right: 2em;
  font-size: 0.9em;
  margin-bottom: 1em;
}

@media (min-width: 580px) {
  /* line 99, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  #date {
    margin-bottom: 0;
  }
}

/* line 111, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
#date i {
  padding: 0 5px;
}

/* line 116, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.office-hours {
  color: #808080;
  font-style: italic;
  margin: 5px 0 10px;
  display: inline-block;
}

/* line 123, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  /* line 123, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .container {
    width: 67%;
  }
}

@media print {
  /* line 123, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .container {
    width: 95%;
  }
}

/* line 135, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
nav {
  width: 100%;
  float: left;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dotted #000;
}

/* line 142, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
nav ul {
  display: grid;
  float: left;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
}

@media (min-width: 580px) {
  /* line 142, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  nav ul {
    float: right;
  }
}

/* line 152, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
nav a {
  text-decoration: none;
  color: #000;
}

/* line 156, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
nav a.active {
  color: #ec008c;
  text-decoration: underline;
}

@media print {
  /* line 135, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  nav {
    display: none;
  }
}

/* line 166, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media (min-width: 992px) {
  /* line 166, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .grid {
    grid-template-columns: 1fr 4fr;
  }
}

@media print {
  /* line 166, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .grid {
    grid-template-columns: 1fr 4fr;
  }
}

/* line 179, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
aside {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
}

@media (min-width: 992px) {
  /* line 179, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  aside {
    grid-template-columns: 1fr;
  }
}

/* line 189, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
aside .controls button {
  background: transparent;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  display: block;
  padding-left: 0;
  margin-bottom: 0.5rem;
}

/* line 199, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
aside .controls button:hover {
  color: #ec008c;
  cursor: pointer;
}

/* line 204, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
aside .controls button:focus {
  outline: none;
}

/* line 210, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
aside a {
  color: #000;
}

/* line 213, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
aside a:hover {
  color: #ec008c;
}

/* line 218, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
aside span {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.85rem;
  margin: 1rem 0 0.5rem;
  font-weight: bold;
}

@media print {
  /* line 179, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  aside {
    font-size: 9pt;
  }
}

/* line 230, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article {
  line-height: 1.5;
}

/* line 233, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article .intro {
  font-size: 1.1em;
}

/* line 237, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article {
  grid-column: 1/3;
}

/* line 240, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article header {
  display: grid;
  grid-auto-flow: column;
}

/* line 245, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article .online {
  float: right;
}

/* line 248, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article .online::before {
  content: "";
  margin-right: 8px;
  float: left;
  width: 30px;
  height: 30px;
  background-color: #c6f0ff;
}

/* line 259, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article h1 {
  background: #000;
  padding: 0.5rem 1rem;
  color: #fff;
  width: fit-content;
}

/* line 265, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article h1 {
  text-transform: uppercase;
  background: #000;
  border: 2px solid #000;
  color: #fff;
  padding: 0.1rem;
}

@media (min-width: 992px) {
  /* line 265, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .schedule article h1 {
    padding: 0 0.5rem 0 0;
  }
}

/* line 276, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article h1 span {
  font-weight: normal;
}

/* line 279, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article h1 span {
  display: block;
  background: #fff;
  color: #000;
  padding: 0 0.5rem;
}

@media (min-width: 992px) {
  /* line 279, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .schedule article h1 span {
    display: inline-block;
    margin-right: 0.33333rem;
  }
}

@media print {
  /* line 259, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article h1 {
    color: #000 !important;
    background: transparent;
    border: 1px solid #000;
  }
}

@media print {
  /* line 297, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article p {
    font-size: 9pt !important;
  }
}

@media print {
  /* line 303, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article br {
    display: none;
  }
}

/* line 309, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section {
  position: relative;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}

@media print {
  /* line 309, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article section {
    padding: 0.75rem 0;
  }
}

@media print {
  /* line 319, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article section p:not(:nth-child(2)) {
    margin-top: 0.5rem;
  }
}

/* line 325, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section.vir {
  background-color: #c6f0ff;
}

/* line 329, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section {
  display: grid;
  padding-left: 0.5rem;
  grid-template-columns: 1fr 0.25fr 2fr;
  grid-column-gap: 1rem;
}

/* line 335, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .to-do {
  color: #ec008c;
}

/* line 339, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .code {
  margin-top: 1rem;
  list-style: none;
  display: block;
}

/* line 344, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .code pre {
  white-space: pre-line;
}

/* line 348, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .code button {
  background: transparent;
  border: 1px solid #ec008c;
  padding: 0.45rem 1rem 0.55rem;
  color: #ec008c;
  width: fit-content;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

/* line 357, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .code button i {
  margin: 0.25rem 0 0 0.35rem;
  transform: rotate(0deg);
}

/* line 362, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .code button:focus {
  outline: none;
  background-color: #ec008c;
  color: #fff;
}

/* line 368, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .code button:hover {
  background-color: #ec008c;
  color: #fff;
  cursor: pointer;
}

/* line 375, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .code button.active i {
  transform: rotate(180deg);
}

/* line 379, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .code button.active + .code-snippet {
  display: block;
}

/* line 385, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .code .code-snippet {
  display: none;
  font-size: 0.9em;
  padding: 1rem;
  background: #ffecf7;
  margin-left: 0;
  color: #000;
}

/* line 412, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section .cancel {
  text-decoration: line-through;
}

/* line 416, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section a {
  color: #ec008c;
}

/* line 419, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section a:hover {
  color: blue;
}

/* line 422, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section a:hover i {
  color: #ec008c;
}

/* line 427, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section a i {
  font-size: 0.9rem;
  color: #808080;
  margin-left: 0.25rem;
}

@media print {
  /* line 427, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .schedule article section a i {
    display: none;
  }
}

/* line 438, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section:last-child {
  border-bottom: none;
}

/* line 442, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section h2 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

/* line 446, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section h2 {
  grid-column: 1/3;
}

@media (min-width: 992px) {
  /* line 446, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .schedule article section h2 {
    grid-column: 1;
  }
}

@media print {
  /* line 442, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article section h2 {
    font-size: 9pt;
  }
}

/* line 457, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section ol {
  list-style-type: decimal;
}

/* line 460, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section ol li {
  margin-left: 16px;
}

@media print {
  /* line 457, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article section ol {
    font-size: 9pt;
  }
}

/* line 468, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section ul {
  list-style-type: disc;
}

/* line 471, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section ul {
  grid-column: 1/4;
}

@media (min-width: 992px) {
  /* line 471, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  .schedule article section ul {
    grid-column: 3;
  }
}

/* line 478, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section ul li {
  margin-left: 16px;
}

/* line 482, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section ul li.res {
  margin-top: 1rem;
  list-style: none;
  width: fit-content;
}

/* line 487, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section ul li.res a {
  border: 1px solid #ec008c;
  padding: 0.33333rem 1rem;
  text-decoration: none;
  display: block;
}

/* line 493, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
.schedule article section ul li.res a:hover {
  background-color: #ec008c;
  color: #fff;
}

/* line 501, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section ul li ul {
  list-style-type: circle;
}

/* line 506, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section ul.upper-alpha {
  list-style-type: upper-alpha;
}

@media print {
  /* line 468, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article section ul {
    font-size: 9pt;
  }
}

/* line 514, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section a {
  word-break: break-all;
}

@media print {
  /* line 514, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article section a {
    font-size: 9pt;
  }
}

/* line 521, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section .day {
  font-size: 0.85em;
  color: #808080;
}

@media print {
  /* line 521, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article section .day {
    font-size: 9pt;
    float: right;
  }
}

/* line 530, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article section .month {
  display: none;
}

@media (min-width: 992px) {
  /* line 530, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article section .month {
    display: block;
    position: absolute;
    transform: rotate(-90deg);
    top: 25px;
    left: -65px;
    font-size: 1rem;
    color: #b3b3b3;
    text-transform: uppercase;
    text-align: right;
  }
}

/* line 546, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article .gallery {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

@media (min-width: 992px) {
  /* line 546, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* line 555, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article .gallery img {
  width: 100%;
}

/* line 559, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article .gallery a {
  display: block;
  color: #000;
  text-decoration: none;
}

/* line 564, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article .gallery a:hover {
  color: #ec008c;
}

/* line 569, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article .gallery.tuts {
  grid-template-columns: 1fr 1fr;
}

/* line 572, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article .gallery.tuts > li {
  position: relative;
  font-family: Helvetica, "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: #CEECC6;
}

@media (min-width: 992px) {
  /* line 572, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article .gallery.tuts > li {
    font-size: 1.7rem;
  }
}

/* line 584, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article .gallery.tuts > li a {
  display: block;
  background-color: #CEECC6;
  padding: 1rem;
}

@media (min-width: 992px) {
  /* line 584, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
  article .gallery.tuts > li a {
    padding: 2rem;
  }
}

/* line 593, ../../../../../Users/kofiopoku/Google Drive/adv-324/sass/main.scss */
article .gallery.tuts > li .tags {
  width: 100%;
  bottom: 0;
  background-color: #CEECC6;
  padding: 0 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-transform: lowercase;
  font-weight: normal;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */