.pm {
  display: none;
}

.present-mode {

  #changeMode {
    background: $highlight-two;
    color: $blk;
    
  }
    background-color: #fefdf4;
  .pm {
    display: block !important;
  }

  img.pm {
    margin-top: 2rem;
  }
  nav {
    display: none;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  aside {
    height: 100vh;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    h1 {
     font-size: 13.5rem;
     grid-column: 1/7;
     margin-bottom: 20%;
    }
    section {
      font-size: 1.7rem;
    }
  }

  article {
    section {
      height: 100vh;
      p, ul, ol, a {
        font-size: 2rem;
      }

      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
        &.main {
          font-size: 10rem;
        }
      }

      .em {
        color: $highlight;
      }

      .table {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: center;
        grid-gap: 2rem;
        ul {
          font-size: .85em;
        }
      }

      .image-grid {
        width: 70%;
        list-style: none;
        display:grid !important;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-items: center;
        grid-gap: 2rem;
        margin-top: 5rem;
        img {
          width: 100%;
          display: block;
          margin-bottom: 12px;
        }

        li {
          font-size: .7em;
          margin: 0 !important;
        }
      }

      iframe {
        &.showcase {
          margin-top: 5vh;
          width: 100%;
          height: 95vh;
        }
      }
    }
  }


}
